$Grey-200: hsl(0, 0%, 50%);
$alata-400: 'Alata', sans-serif;
$Josefin-Sans-300: 'Josefin Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Josefin-Sans-300;
    font-weight: 300;
}
header{
    background-image: url('../images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100%,contain;
    min-height: 80vh;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    
    #menu{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        background-color: black;
        color: white;
        width: 100%;
        padding: 2rem;

        div{
            display: flex;
            justify-content: space-between;
        }
        ul{
        list-style-type: none;
        font-size: 2rem;
        margin: 50% 0;
        li{
            padding: 0.5rem 0;
        }
    }
    }
    h1{
        text-transform: uppercase;
        color: white;
        padding: 0.5rem;
        border: 2px solid white;
        width: 90%;
        padding: 1rem;
        font-size: 2.7rem;

    }
    .main-text{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }
}

section{
    padding: 3rem 0.5rem;
    text-align: center;
    img{
        width: 92%;
    }
    div{
        margin: 1.5rem 0;
    }
    p{
        font-family: $alata-400;
        margin: 1rem;
        color: $Grey-200;
    }
    h2{
        text-transform: uppercase;
        font-size: 2rem;
    }
}

.creations{
    position: relative;
    button{
        position: absolute;
        bottom: 0;
        left: 33%;
        border: 1px solid black;
        background-color: white;
        font-family: $alata-400;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding: 0.5rem 2rem;
    }
}
main{
    margin-bottom: 5rem;
}
.desktop-img{
    display: none;
}
.mobile-img:hover{
    opacity: 0.5;
}
.creation-imgs{
    position: relative;
    p{
        position: absolute;
        bottom: 0;
        left: 5%;
        color: white;
        text-transform: uppercase;
        font-family: $Josefin-Sans-300;
        font-size: 2rem;
        width: 50%;
        text-align: left;
    }
    img{
        filter: brightness(75%);
    }
}
.creation-imgs:hover{
        img{
            opacity: 0.5;
        }
        p{
            color: black;
        }
}
footer{
   background-color: black;
   color: white;
   padding: 3rem 0;
   section{
    padding:1rem;
    img{
        width: 50%;
    }
    div{
        margin: 0;
    }
   }
   ul{
     list-style-type: none;
     margin: 1.5rem 0;
   }
   li{
    margin: 1rem 0;
   }
   #social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        img{
            width: 5vw;
        }
   }

}

button:hover{
    background-color: black;
    color: white;
}
@media screen and (min-width:769px){
    header{
        background-image: url('../images/desktop/image-hero.jpg');
        background-size: 100%, contain;
        padding: 3% 8%;
        .main-text{
            min-height: 0;
            max-width: 50vw;
            margin-top: 6%;
            justify-content: flex-start;
            align-items: center;
            border: 2px solid white;
        }
        h1{
            border: none;
            font-size: 5vw;
        }
        #menu{
            display: block;
            background-color: transparent;
            position: static;
            color: black;
            min-height: 0;
            padding: 0.5rem;
            div{
                display: none;
            }
            ul{
                display: flex;
                justify-content: flex-end;
                gap: 1.5rem;
                margin: 0;
                color: white;
                li{
                    font-family: $alata-400;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 1rem 0;
                }
                li::after{
                    content: " ";
                    padding: 0 0.7rem;
                    border: 1.5px  solid white;
                    position: absolute;
                    margin: -0.5rem;
                    border-radius: 5px;
                    opacity: 0;
                }
                li:hover::after{
                    opacity: 1;
                }
            }
        }
        #menu-open{
            display: none;
        }
    }
    main{
        padding: 7%;
    }
    #vr{
        position: relative;
        text-align: left;
        div{
            position: absolute;
            bottom: 1rem;
            right: 0;
            max-width: 45vw;
            background-color: white;
            padding-left: 2rem;
            padding-top: 2rem;
            z-index: 2;
            h2{
                font-size: 4vmax;
                padding: 0 1rem;
            }

        }
        img{
            width: 50vw;
        }
    }
    .mobile-img{
        display: none;
    }
    .desktop-img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .creation-imgs:hover{
        img{
            opacity: 0.5;
        }
        p{
            color: black;
        }
    }
    #grid-imgs{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        .creation-imgs{
            margin: 0;
        }
        p{
            width: 70%;
            font-size: 2.5vw;
            bottom: 1rem;
            margin: 0;
        }
    }
    #creation-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            position: static;
        }
    }
    main{
        margin-bottom: 0;
    }
    footer{
        padding: 2% 8%;
        display: flex;
        justify-content: space-between;
        section:first-child {
            text-align: left;
            img{
                width: 12vw;
            }
        }
        section{
            padding: 0;
            p{
             margin: 1rem 0;
            }
        }
        ul{
            display: flex;
            gap: 1rem;
            margin: 0;
            li{
                position: relative;

            }
            li::after{
                content: " ";
                position: absolute;
                left: -0.6rem;
                bottom: -1.2rem;
                padding: 0 0.5rem;
                margin: 1rem;
                border: 1px  solid white;
                border-radius: 5px;
                opacity: 0;
            }
            li:hover::after{
                opacity: 1;
            }
        }
       #social-media{
            justify-content: right;
           img{
            width: 2vw;
             padding-bottom: 0.5rem;
            position: relative;
           }
           img::after{
                  content: '';
                   position: absolute;
                   bottom: 0;
                   left: 0;
                   width: 100%;
                   height: 2px;
                   background-color: white; 
            }
            // img:hover::after{
            //     opacity: 1;
            // }
       } 
       li,p{
        font-size: 1.2vw;
       }
    }
}