$Grey-200: hsl(0, 0%, 50%);
$alata-400: 'Alata', sans-serif;
$Josefin-Sans-300: 'Josefin Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Josefin-Sans-300;
    font-weight: 300;
}
header{
    background-image: url('../images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100%,contain;
    min-height: 80vh;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    ul{
        display: none;
    }
    h1{
        text-transform: uppercase;
        color: white;
        padding: 0.5rem;
        border: 2px solid white;
        width: 90%;
        padding: 1rem;
        font-size: 2.7rem;

    }
    .main-text{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }
}

section{
    padding: 3rem 0.5rem;
    text-align: center;
    img{
        width: 92%;
    }
    div{
        margin: 1.5rem 0;
    }
    p{
        font-family: $alata-400;
        margin: 1rem;
        color: $Grey-200;
    }
    h2{
        text-transform: uppercase;
        font-size: 2rem;
    }
}

.creations{
    position: relative;
    button{
        position: absolute;
        bottom: 0;
        left: 33%;
        border: 1px solid black;
        background-color: white;
        font-family: $alata-400;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding: 0.5rem 2rem;
    }
}
main{
    margin-bottom: 5rem;
}
.creations > div{
    position: relative;
    p{
        position: absolute;
        bottom: 0;
        left: 5%;
        color: white;
        text-transform: uppercase;
        font-family: $Josefin-Sans-300;
        font-size: 2rem;
        width: 50%;
        text-align: left;
    }
    img{
        filter: brightness(75%);
    }
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 1rem;
    background-color: black;
    img{
        width: 50%;
    }
    #footer-logo{
        padding: 1rem 1.5rem;
    }
    ul,p{
        color: white;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem 0;
        li{
            font-family: $alata-400;
        }
    }
    #social-media{
        display: flex;
        gap: 1rem;
    }
    p{
        font-family: $alata-400;
        color: $Grey-200;
    }
}